@font-face {
  font-family: "title";
  src: url("../font/Fipps-Regular.otf");
}
@font-face {
  font-family: "counter";
  src: url("../font/Mario-Kart-DS.ttf");
}
@font-face {
  font-family: "buttom";
  src: url("../font/VCR_OSD_MONO_1.001.ttf");
}



html, body {
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2c2c2c;
}

#menu-box {
  position: absolute;
  top: -100vh;
  left: 0;
  background: #00000066;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: "title";

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  transition: linear top 200ms;
}
#menu-box.menu-on {
  top: 0;
  transition: linear top 200ms;
}


#menu-box > .box {
  position: absolute;
  background-color: #00000033;
  min-width: 300px;
  min-height: 150px;
  padding: 34.5px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 1;
  transition: linear all 100ms;
}
#menu-box > .box > .menu-title {
  font-size: 50px;
  line-height: 70px;
  display: block;

  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-name: menu-title;
}
@keyframes menu-title {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  25% {
    transform: scale(1.15) rotateZ(2deg);
  }
  50% {
    transform: scale(1.3) rotateZ(0deg);
  }
  75% {
    transform: scale(1.15) rotateZ(-2deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

#menu-box > .box > button {
  min-width: 100px;
  min-height: 60px;
  font-size: 30px;
  margin-top: 80px;
  padding: 0px 50px;
  background: #00000099;
  border: none;
  font-family: "buttom";
  color: white;
  cursor: pointer;

  transform: scale(1);
  transition: linear transform 200ms;
}
#menu-box > .box > button:hover {
  transform: scale(1.2);
  transition: linear transform 100ms;
}

#menu-box > .box.disabled {
  visibility: hidden;
  opacity: 0;
  transition: linear all 100ms;
}

#menu-box > .box#mainmenu {
  padding: 0;
  margin-top: -1px;
  width: 700px;
  height: 100vh;
  background: url("../../image/mainmenu.png");
  background-size: cover;
  background-position-x: center;
}


#brick-counter {
  font-size: 45px;
  color: white;
  line-height: 35px;
  margin-left: calc(50% - 340px);
  opacity: 0.999;

  font-family: "counter";

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#brick-counter > img {
  margin-top: 10px;  
}
#brick-counter > .span {
  margin-top: -10px;
  display: inline-block;
  position: absolute;
}

#container {
  margin-left: 50%;
  top: -12460px;
  transform: translateX(-50%);
  width: 700px;

  height: 12460px;
  position: absolute;
  /* background: linear-gradient(to top, white, white, #72c1f6); */
  background: url("../../image/map2.png");
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
  filter: blur(50%);
  overflow: hidden;

  transition: linear top 0.3s;
}

#container.on-pause {
  filter: blur(3px);
}

.tile {
  float: left;
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  top: 0px;
  overflow: hidden;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.brick {
  color: #2c090966;
}

.brick.brick1 {
  line-height: 35px;
  width: 70px;
  height: 35px;
}
.brick.brick2 {
  line-height: 35px;
  width: 35px;
  height: 35px;
}
.brick.brick3 {
  line-height: 70px;
  width: 70px;
  height: 70px;
}
.brick.brick4 {
  line-height: 70px;
  width: 35px;
  height: 70px;
}

.brick.preview {
  background: #e9e9e96e;
  color: transparent;
}
.brick.preview.lock {
  background: #ff05056e;
  color: transparent;
}


.tile.ground {
  line-height: 29px;
  width: 29px;
  height: 29px;
  border: 3px outset #a3a3a377;
  background: linear-gradient(to top, #737373, #a0a0a0);
}

.tile.kill {
  line-height: 35px;
  margin: 1px;
  width: 33px;
  height: 33px;
  border-radius: 2px;
  background: #ee202066;
}

.tile.void {
  line-height: 35px;
  width: 35px;
  height: 35px;
  background: transparent;
}

.tile.gold {
  color: #ffffff;
  
  opacity: 0.8;
  border: #fcd165aa solid 3px;
  border-radius: 100%;
  line-height: 35px;
  width: 29px;
  height: 29px;
  background: linear-gradient(45deg , #cc9918, #cc9918, white, #fdcb4c);
}